.cont{
  width: 100%;
  height: 100vh;
  background-color: var(--foreground);
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}
.ball1{
  background-color: red;
}

.ball2 {
  position: relative;
  backface-visibility: hidden;
  transform-origin: 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -15px;
}
.ball2 div { box-sizing: content-box; }

.ball2 div {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.ball2 div:nth-child(1) {
  background: var(--primary);
  animation: ball2 1s linear infinite;
  animation-delay: -0.5s;
}
.ball2 div:nth-child(2) {
  background: var(--secondary);
  animation: ball2 1s linear infinite;
  animation-delay: 0s;
}
.ball2 div:nth-child(3) {
  background: var(--primary);
  animation: ball2-o 1s linear infinite;
  animation-delay: -0.5s;
}

@keyframes ball2-o {
  0%    { opacity: 1; transform: translate(0 0) }
  49.99% { opacity: 1; transform: translate(15px,0) }
  50%    { opacity: 0; transform: translate(15px,0) }
  100%    { opacity: 0; transform: translate(0,0) }
}
@keyframes ball2 {
  0% { transform: translate(0,0) }
  50% { transform: translate(15px,0) }
  100% { transform: translate(0,0) }
}