.section{
  width: 100%;
  height: 100vh;
  background-color: var(--secondary0);
  backdrop-filter: blur(20px);
  color: var(--foreground);
  display: grid;
  place-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
}
.bell{
  max-width: 100px;
  margin: 0 auto 40px auto;
  position: relative;
}

.cont{
  width: 90%;
  max-width: 400px;
}

.cont h2{
 font-size: 16px;
 font-weight: 700;
 text-align: center;
 margin-bottom: 15px;
}

.cont p{
  text-align: center;
  font-weight: 400;
  margin-bottom: 40px;
}
.cont button{
  width: 90%;
  margin: 0 auto;
  cursor: pointer;
}

.btnallow{
  background-color: var(--foreground);
  border-radius: 10px;
  color: var(--secondary);
  font-size: 17px;
  font-weight: 700;
  padding: 10px 20px;
  margin-bottom: 30px !important;
}