:root{
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --primary: rgb(58, 255, 102);
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body{
  font-family: Montserrat;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
#__next{
  position: relative;
}

@keyframes wobble {
  0% { transform: translateX(0%); }
  10% { transform: translateX(-5px); }
  20% { transform: translateX(4px); }
  30% { transform: translateX(-3px); }
  40% { transform: translateX(2px); }
  50% { transform: translateX(0); }
  100% { transform: translateX(0); }
}